speech.mp3
PyAudio-0.2.11-cp39-cp39-win_amd64.whl]
Project_Basic_struct/workspace.code-workspace
Project_Basic_struct/__pycache__/essay.cpython-39.pyc
Project_Basic_struct/__pycache__/menu.cpython-39.pyc
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
Project_Basic_struct/__pycache__/speechtotext.cpython-39.pyc
Project_Basic_struct/__pycache__/TextTospeech.cpython-39.pyc
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
Project_Basic_struct/__pycache__/textRead.cpython-39.pyc
Project_Basic_struct/__pycache__/voice_recorder.cpython-39.pyc
Project_Basic_struct/__pycache__/websiteWork.cpython-39.pyc
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
Hello.mp3
Project_Basic_struct/__pycache__/speakListen.cpython-39.pyc
